[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demucs = "*"
typer = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
split = "demucs --two-stems=vocals /Users/ash/Documents/test/Slow.mp3"
